@font-face {
  font-family: Zelda;
  src: url("./HyliaSerifBeta-Regular.otf");
}

.SpaceInvaderContainer {
    box-sizing: border-box;
    height: 100vh;
    margin-top: 0px;
    padding: 56px;
    justify-content: center;
    background-color: #E7EBE0FF;
  }
  
  .SpaceInvaderImg {
    margin-top: 5%;
    height: 50%;
    float: left;
    width: 58%;
    padding: 20px;
  }
  
  .SpaceInvaderContent {
    position: relative;
    width: 100%;
    top: 23%;
  }
  
  .SpaceInvaderText {
    position: relative;
    font-family: Zelda;
    font-size: x-large;
    font-weight: bold;
    color: #393e46;
    float: left;
    width: 35%;
    padding: 20px;
    letter-spacing: 1px;
  }
  
  .SpaceInvaderButton {
    position: relative;
    left: 14%;
    margin-top: 2%;
    font-family: Zelda;
    border: none;
    background-color: white;
    color: #4592af;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #4592af;
    letter-spacing: 1.5px;
  }
  
  .SpaceInvaderButton:hover {
    cursor: pointer;
    background-color: #4592af;
    color: white;
  }
  
  .PongContainer {
    box-sizing: border-box;
    height: 100vh;
    background-color: #ffe9ec;
    padding: 56px;
    justify-content: center;
  }
  
  .PongImg {
    margin-top: 3%;
    height: 88%;
    float: left;
    width: 40%;
    padding: 20px;
  }
  
  .PongText {
    margin-top: 15%;
    height: 50%;
    position: relative;
    color: #685454;
    font-family: Zelda;
    font-size: x-large;
    font-weight: bold;
    float: left;
    width: 50%;
    padding: 20px;
    letter-spacing: 1px;
  }
  
  .PongButton {
    position: absolute;
    left: 21%;
    margin-top: 30%;
    font-family: Zelda;
    border: none;
    background-color: white;
    color: #fd5e53;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #fd5e53;
    letter-spacing: 1.5px;
  }

  .PongMultiButton {
    position: absolute;
    margin-top: 35%;
    left: 18%;
    font-family: Zelda;
    border: none;
    background-color: white;
    color: #fd5e53;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #fd5e53;
    letter-spacing: 1.5px;
  }
  
  .PongButton:hover {
    cursor: pointer;
    background-color: #fd5e53;
    color: white;
  }

  .PongMultiButton:hover {
    cursor: pointer;
    background-color: #fd5e53;
    color: white;
  }
  
  .BreakoutContainer {
    box-sizing: border-box;
    height: 100vh;
    padding: 56px;
    justify-content: center;
    background-color: #faf6e9;
  }
  
  .BreakoutImg {
    margin-top: 5%;
    height: 80%;
    float: left;
    width: 50%;
    padding: 20px;
  }
  
  .BreakoutText {
    margin-top: 15%;
    position: relative;
    font-family: Zelda;
    color: #494949;
    font-size: x-large;
    font-weight: bold;
    float: left;
    width: 40%;
    padding: 20px;
    letter-spacing: 1px;
  }
  
  .BreakoutButton {
    position: absolute;
    left: 67%;
    margin-top: 32%;
    font-family: Zelda;
    border: none;
    background-color: white;
    color: #854836;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #854836;
    letter-spacing: 1.5px;
  }
  
  .BreakoutButton:hover {
    cursor: pointer;
    background-color: #854836;
    color: white;
  }