@font-face {
    font-family: Caramel Sweets;
    src: url('./CaramelSweets.ttf');
}

.profileContainer {
    display: block;
    text-align: center;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #f8f4e5;
    margin-left: 0 auto;
    margin-right: 0 auto;
    border-radius: 15px;
    margin-left: 35%;
    margin-top: 10%;
}

.profileImage {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    padding: 20px;
    border: 2px solid #424C52;
    margin-bottom: 2%;
}

.info {
    font-family: Caramel Sweets;
    font-size: 20px;
    letter-spacing: 0.01px;
    color: #E9454F;
}

.redirect {
    font-family: Caramel Sweets;
    font-size: 20px;
    text-decoration: none;
    color: #FBBF7A;
}