html {
  height: 100vh;
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100vh;
}

.page {
  width: 100%;
  height: 100vh;
  background: #17181a;
  padding: 60px;
}

.sceneContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.instructions {
  display: flex;
  position: absolute;
  top: 50%;
}

div.current-score p {
  display: flex;
  position: absolute;
}

div.page * {
  font-family: "Orbitron";
  color: #eeeeee;
  font-size: 14px;
}

@media only screen and (max-width: 1308px) {
  div.instructions h3,
  li {
    display: none;
  }
}

@media only screen and (max-height: 310px) {
  div.instructions h3,
  li {
    display: none;
  }
}
