@font-face {
    font-family: bit;
    src: url('./04B_30__.TTF');
}

.container {
    height: 100vh;
    width: 100vw;
    background: #053742;
}

.text {
    font-family: bit;
    color: white;
    font-size: 100px;
    position: relative;
    top: 40%;
    left: 20%;
}

.button {
    
}