.page {
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  background-color: #bae1ff;
  font-family: Caramel Sweets;
}

@font-face {
  font-family: Caramel Sweets;
  src: url('./CaramelSweets.ttf');
  font-family: Organic Teabags;
  src: url('./OrganicTeabags.ttf');
}
