@font-face {
    font-family: Caramel Sweets;
    src: url('./CaramelSweets.ttf');
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #efefe3;
}

.resetPassForm {
    height: 80%;
    width: 30%;
    padding: 30px;
}

.header {
    font-family: Caramel Sweets;
    padding: 10px;
    border-radius: 15px;
    color: #181818;
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 20%;
    letter-spacing: 1px;
}

.input {
    display: inline-block;
    text-indent: 0px;
    text-align: start;
    cursor: text;
    font-family: Caramel Sweets;
    box-sizing: border-box;
    border-radius: 0;
    overflow: visible;
    margin: 0;
    border: 0px;
    color: #323a3d;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #77858a;
    background-color: transparent;
    width: 100%;
    margin-bottom: 8%;
}

.loginInput:hover {
    transform: scale(1.05);
}

.button {
    font-family: Caramel Sweets;
    font-size: 14px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: transparent;
    color: #d4a373;
    padding: 10px;
    font-weight: 700;
    align-items: center;
    width: 30%;
    float: right;
    cursor: pointer;
    letter-spacing: 1.5px;
    border: 3px solid #d4a373;
}

.button:hover {
    color: #ee4540;
}

.loginButton:hover {
    color: #ee4540;
}

.msg {
    font-family: Caramel Sweets;
    font-size: smaller;
    color: #ee4540;
    margin-bottom: 5%;
}

.loginLink {
    font-family: Caramel Sweets;
    padding: 10px;
    border-radius: 15px;
    opacity: 0.9;
    color: black;
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 50%;
    position: relative;
    width: 100%;
}

.loginLink:hover {
    color: #ee4540;
    transform: scale(1.05);
}

.errorMsg {
    font-family: Caramel Sweets;
    font-size: smaller;
    color: #ee4540;
    margin-bottom: 5%;
}