.container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin-left: auto;
    margin-right: auto;
  max-width: 1200px;
}

.page {
  height: 100%;
  min-height: 100vh;
  background-color: #ffece3;
}

.makePost {
  padding: 0px;
}
