.instructs {
    display: flex;
    position: absolute;
    top: 45%;
    left: 10%;
    color: red;
}

.instructsBody {
    display: flex;
    position: absolute;
    top: 50%;
}

.canvasContainer {
    background: BLACK;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.gameButton {
    display: flex;
    margin: auto;
    margin-top: 550px;
}

.info {
    color: red;
    display: flex;
    position: absolute;
    left: 75%;
    padding: 20px;
    align-items: center;
    text-align: justify;
    top: 43.5%;;
}

.infoBody {
    display: flex;
    position: absolute;
    left: 71%;
    padding: 20px;
    align-items: center;
    text-align: justify;
    top: 48%;
}

.gameOver {
    padding: 20px;
    text-align: center;
}