@font-face {
  font-family: pixel;
  src: url("./fonts/PressStart2P.ttf");
}

.Header {
  font-family: "pixel";
  font-size: 75px;
  font-weight: 500;
  color: white;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: 10%;
}

.instructsBody {
  font-family: "pixel";
  font-size: 18px;
  position: relative;
  margin-top: 10%;
  color: white;
  z-index: 1;
  text-align: center;
}

.canvasContainer {
  background: BLACK;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 15px;
}

.restartButton {
  display: block;
  margin: auto;
  margin-top: 5%;
  border: none;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 15px;
  font-family: pixel;
  font-size: large;
  cursor: pointer;
}

.gameOverHeader {
  text-align: center;
  margin-top: 10%;
  position: relative;
  z-index: 1;
  font-family: pixel;
}
