.Gameslist {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Gameslist a {
    text-align: center;
    text-decoration: none;
}

.img {
    display: inline-block;
    width:  350px;
    height: 300px;
    padding: 15px;  
}

.img:hover {
    box-shadow: 1px 3px 5px #333333;
}